// General Settings 
@import 'config';
@import 'utilities';
@import 'item_grid';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Dosis', sans-serif;
    line-height: 1.7;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: $dark-color;
}

ul{
    list-style: none;
}

h2,h3,h4{
    text-transform: uppercase;
}

img{
    width: 100%;
}

// logo
.logo{
    &-left{
        color: lightcoral;
        font-size: 2rem;
    }
    &-right{
        color: yellowgreen;
        font-size: 1.8rem;
    }
}

// Navbar 
#main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

    ul{
        display: flex;
    }

    li{
        padding: 1rem 1.5rem;
    }
    a{
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s ease-in-out;

        &:hover{
            border-color: $medium-color;
        }

        &.current{
            border-color: $main-color;
        }
    }
}


#header{

    // Header Home
    &-home{
        background: $bg-image no-repeat center right/cover;
        height: 100vh;
        color: #fff;

    // Header content
    
        .header-content{
            padding-top: 20%;
            text-align: center;

            h1{
                font-size: 4rem;
            }
        }

    }

    // About page

  &-inner{
        background: $bg-image no-repeat 20% 28% / cover;
        border-bottom: 3px solid $main-color;
        height: 10vh;
  }
}


// Section A

#home{

    

    &-a{
        .specials{
         margin-top: 1rem;
         display: grid;
         grid-template-columns: repeat(4,1fr);
         grid-gap: 1rem;
        }

        .fas{
            color: $main-color;
            margin-bottom: 0.4rem;
        }

     
      
    }

    &-b{
     
        .stats{
            display: grid;
            grid-template-columns: repeat(4,1fr);
        }

        li{
                line-height: 2;


        &.stats-title{
            font-size: 1.6rem;
        }

        &.stats-number{
            font-size: 2rem;
            font-weight: bold;
        }
    }
        div{

            ul{
                padding: 2rem 0;
            }

            &:nth-child(even){

                background-color: $medium-color;
            }
    
            &:nth-child(odd){

                background-color: $light-color;
            }
        }
    }

    &-c{
        .process{
            margin-top: 1rem;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 1rem;


            &-step{
                position: absolute;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: $main-color;
                font-size: 28px;
                transition: all 1s;
                padding: 1rem;
                top: 0;
                right: 0;
                line-height: 15px;
            }


            &-icon{
                position: relative;
                border-radius: 50%;
                background-color: $dark-color;
                color: #fff;
                padding: 2rem;
                transition: all 1s;  
                
                
                &:hover{
                    transform: scale(1.2);
                    background-color: $main-color;

                    .process-icon{
                        background-color: $dark-color;
                    }
                }
            }
        }
    }


}


#footer{

    background-color: $dark-color;
    color: #fff;

    &-content{
        font-size: 1.2rem;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social i{
            background-color: $dark-color;
            border-radius: 50%;
            border: 2px solid #fff;
            padding: 1rem;
            font-size: 1.2rem;
            margin-right: 1rem;

            &:hover{
                background-color: $main-color;
            }
        }
    }
}






#about{

    &-a{
     .about-info{
        display: grid;
        grid-template-areas: 'bioimage bio bio ' 'aw1 aw2 aw3';
        grid-gap: 1.2rem;
     }
        
     .bio-image{
        grid-area: bioimage;
     }

     .bio{
        grid-area: bio;
        border-left: 3px solid $main-color;
        padding: 0.8rem;
     }

     .award-1{
        grid-area: aw1;
     }
     .award-2{
        grid-area: aw2;
     }
     .award-3{
        grid-area: aw3;
     }

     .award-1 .fas,
     .award-2 .fas,
     .award-3 .fas{
        color: $main-color;
        margin: 1rem;
     }

    }

// Progress bar

    &-b{
        .progress{
            overflow: hidden;
            height: 20px;
            background-color: $medium-color;
            border-radius: 5px;
            margin-bottom: 0.3rem;

            div{
                height: 100%;
                color: #fff;
                text-align: center;
                background-color: $main-color;
            }
        }
    }

    &-c{
        .about-logos{
            margin: 2rem 0;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 2rem;

            img{width: 70%;
            display: inline-block;
        margin: auto;
    }
        }
    }


    &-d{
        margin: 2rem 0;
        .testimonials{
            margin: 1rem 0;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 1rem;

            p{
                border: 1px dotted;
                border-radius: 3px;
                padding: 1rem;
            }

            ul {
                list-style: none;
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }

            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }
}